@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --text-color: #08090a;
  --hoverButtonColor: #2a2b2c;
  --background-color: #f8f8ff;
  --glass-color: rgba(248, 248, 255, 0.5);
  --border-color: #e3e3e3;
  --hover-border-color: #d2d2d2;
  --link-color: #4c4d4e;
  --shadow-color: rgba(248, 248, 255, 1);
  --item-background-1: rgb(232, 232, 237);
  --item-background-2: rgb(223, 223, 228);
  --item-box-shadow: rgba(120, 120, 120, 0.25);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --opacity: 0;
  --less-important-text-color: #444;
  --card-color: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f8f8ff;
    --hover-button-color: #d6d6dd;
    --background-color: #08090a;
    --glass-color: rgba(8, 9, 10, 0.5);
    --border-color: #1d1d1d;
    --hover-border-color: #2e2e2e;
    --link-color: #cecece;
    --shadow-color: rgba(8, 9, 10, 1);
    --item-background-1: rgb(24, 25, 28);
    --item-background-2: rgb(33, 34, 37);
    --item-box-shadow: rgba(255, 255, 255, 0.25);
    --opacity: 1;
    --less-important-text-color: #ddd;
    --card-color: rgb(23, 23, 23);
  }
}

:root[class="dark"] {
  --text-color: #f8f8ff;
  --hoverButtonColor: #d6d6dd;
  --background-color: #08090a;
  --glass-color: rgba(8, 9, 10, 0.5);
  --border-color: #1d1d1d;
  --hover-border-color: #2e2e2e;
  --link-color: #cecece;
  --shadow-color: rgba(8, 9, 10, 1);
  --item-background-1: rgb(24, 25, 28);
  --item-background-2: rgb(33, 34, 37);
  --item-box-shadow: rgba(255, 255, 255, 0.25);
  --opacity: 1;
  --less-important-text-color: #ddd;
  --card-color: rgb(23, 23, 23);
}

:root[class="light"] {
  --text-color: #08090a;
  --hover-button-color: #2a2b2c;
  --background-color: #f8f8ff;
  --glass-color: rgba(248, 248, 255, 0.5);
  --border-color: #e3e3e3;
  --hover-border-color: #d2d2d2;
  --link-color: #4c4d4e;
  --shadow-color: rgba(248, 248, 255, 1);
  --item-background-1: rgb(232, 232, 237);
  --item-background-2: rgb(223, 223, 228);
  --item-box-shadow: rgba(120, 120, 120, 0.25);
  --opacity: 0;
  --less-important-text-color: #444;
  --card-color: rgb(23, 23, 23);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  background-color: var(--glass-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition-duration: 200ms;
}

.shadowMain {
  background: rgb(8, 9, 10);
  background: linear-gradient(
    270deg,
    rgba(8, 9, 10, 0) 25%,
    var(--shadow-color) 100%
  );
}

.shadowMain2 {
  background: rgb(8, 9, 10);
  background: linear-gradient(
    90deg,
    rgba(8, 9, 10, 0) 25%,
    var(--shadow-color) 100%
  );
}

.shadowMain3 {
  background: rgb(8, 9, 10);
  background: linear-gradient(
    180deg,
    rgba(8, 9, 10, 0) 25%,
    var(--shadow-color) 100%
  );
}

.itemStyles {
  box-shadow: var(--item-box-shadow) 0px 1px 1px 0px inset;
  background: linear-gradient(
    155.91deg,
    var(--item-background-1) 21.92%,
    var(--item-background-2) 77.49%
  );
}

.itemSettings {
  border-radius: 50%;
  pointer-events: none;
  filter: blur(20px);
  opacity: 0.7;
  overflow: visible;
}

/* Magic Text Styles */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.magic {
  display: inline-block;
  position: relative;
  text-align: center;
}

.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magic > .magic-star > svg > path {
  fill: var(--violet);
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSectionTitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.heroSectionText {
  font-size: 1.5rem;
}

.heroSectionParagraph {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (max-width: 640px) {
  .heroSectionText {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }

  .heroSectionTitle {
    font-size: clamp(1.25rem, 6.5vw, 2.25rem);
  }

  .heroSectionParagraph {
    font-size: clamp(0.875rem, 4.5vw, 1rem);
  }
}

.react-gradient {
  background: linear-gradient(45deg, #61dafb, #21a1f1);
  opacity: var(--opacity);
}

.js-gradient {
  background: linear-gradient(45deg, #f0db4f, #ead41c);
  opacity: var(--opacity);
}

.html-gradient {
  background: linear-gradient(45deg, #f55e37, #f2763a);
  opacity: var(--opacity);
}

.css-gradient {
  background: linear-gradient(45deg, #486ff6, #4b87f3);
  opacity: var(--opacity);
}

.nextjs-gradient {
  background: linear-gradient(45deg, #000000, #ffffff);
  opacity: var(--opacity);
}

.supabase-gradient {
  background: linear-gradient(45deg, #3ecf8e, #3e8ecf);
  opacity: var(--opacity);
}

.nextjs-gradient {
  background: linear-gradient(45deg, #000000, #ffffff);
  opacity: var(--opacity);
}

.framer-motion-gradient {
  background: linear-gradient(45deg, #a94dff, #ff4dcc);
  opacity: var(--opacity);
}

.docker-gradient {
  background: linear-gradient(45deg, #0db7ed, #0892d0);
  opacity: var(--opacity);
}

.git-gradient {
  background: linear-gradient(45deg, #f1502f, #f16a36);
  opacity: var(--opacity);
}

.github-gradient {
  background: linear-gradient(45deg, #333333, #6e5494);
  opacity: var(--opacity);
}

.mongodb-gradient {
  background: linear-gradient(45deg, #47a248, #3e9141);
  opacity: var(--opacity);
}

.vite-gradient {
  background: linear-gradient(45deg, #646cff, #00bfff);
  opacity: var(--opacity);
}

.popupGradient {
  background: linear-gradient(45deg, #a94dff, #ff4dcc);
}

.links::before {
  transition: 100ms;
  height: 0px;
}

.links:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 100ms;
  height: 1px;
  background: linear-gradient(45deg, #a94dff, #ff4dcc);
  transform: translateY(14px);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 0.5s;
  animation-iteration-count: 1;
}

.aboutMe {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-position: 75%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-position: 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  position: relative;
  z-index: 1;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  right: -2.5px;
  bottom: -2.5px;
  z-index: -1;
  border-radius: inherit;
  padding: 2.5px;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-position: 75%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: background-pan 3s linear infinite;
}

.blobGradient {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
}

/* Skills section */

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}
